---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

// Width of the content area
$content-width:    100%;

/*  -- Really large -- */
@mixin bp($point)
{
    @if $point == x-large {
        /* -- iPad Landscapre -- */
        @media all and (min-width: 60em) { @content; }
    }
    @else if $point == x-large-2 {
        @media all and (min-width: 67em) { @content; }
    }
    @else if $point == x-large-3 {
        @media all and (min-width: 70em) { @content; }
    }


    @else if $point == large {
        @media all and (min-width: 50em) { @content; }
    }
    @else if $point == large-2 {
        @media all and (min-width: 54.5em) { @content; }
    }


    @else if $point == med {
        /* -- iPad Protrait -- */
        @media all and (min-width: 46.8em) { @content; }
    }
    @else if $point == med-2 {
        @media all and (min-width: 48em) { @content; }
    }


    @else if $point == small {
        @media all and (min-width: 24em)  { @content; }
    }
    @else if $point == small-2 {
        @media all and (min-width: 29.75em)  { @content; }
    }
    @else if $point == bp-small-3 {
        @media all and (min-width: 39.8em)  { @content; }
    }

    @else if $point == x-small {
        /* -- iPhone 5 -- */
        @media all and (min-width: 20em)  { @content; }
    }
    @else if $point == x-small-2 {
        /* -- iPhone 6 -- */
        @media all and (min-width: 23em)  { @content; }
    }

}





// Import partials from `sass_dir` (defaults to `_sass`)
//"layout",
@import
        "base",
        "syntax-highlighting",
        "main"
;