---
layout: default
<!-- title: Home -->
slug: chameleon-web-controller
---


<style>


  .hand-icon {
    background-image: url({{site.baseurl}}/images/home-hand-icon.svg);
  }
</style>


<div id="home-page">

  <div class="header">
    <div class="wrapper">
      <h1 class="project-name-light">CWC</h1>
      <h1 class="project-name">Chameleon Web Controller</h1>
      {% include repo-list.html %}
    </div>
  </div>

  <div class="demo-window" >
    <div class="window">
      <div class="connect">
          <div class="instruct">
            <p>www.google.co.uk/controller.html</p>
            <p>Code <span>453621</span></p>
          </div>
          <div class="hand-icon"></div>
      </div>
    </div>
  </div>

  <div class="about">
    <h2>About cwc</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
  </div>

  {% include docs-navigation-list.html %}
