<div class="docs-side-bar">
    <h1 class="vershion" >v1.1.0 <span>(Changelog)</span></h1>

    <div class="downloads docs">
        <h2>Download</h2>
        <ul>
            <li>
              <a target="_blank"  href="https://github.com/Devine-Davies/chameleon-web-controller" class="btn">
                <h3>View on GitHub</h3>
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a target="_blank"  href="https://github.com/Devine-Davies/chameleon-web-controller/zipball/master" class="btn">
                <h3>Download .zip</h3>
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a target="_blank"  href="https://github.com/Devine-Davies/chameleon-web-controller/tarball/master" class="btn">
                <h3>Download .tar.gz</h3>
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </li>
        </ul>
    </div>

    <div class="general docs">
        <h2>General</h2>
        <ul>
          {% for post in site.categories['general'] %}
            {% if page.title == post.title %}
            <li class="active" >
            {% else %}
            <li>
            {% endif %}
              <img src="{{ post.f_image | prepend: site.baseurl }}" />
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <h3>{{ post.title }}</h3>
                  {% if post.tax contains "general" %}
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                  {% endif %}
                </a>
                <p>
                  {{ post.excerpt }}
                </p>
            </li>
          {% endfor %}
        </ul>
    </div>

    <div class="components docs">
        <h2>Components</h2>
        <ul>
          {% for post in site.categories['components'] %}
            {% if page.title == post.title %}
            <li class="active" >
            {% else %}
            <li>
            {% endif %}
              <img src="{{ post.f_image | prepend: site.baseurl }}" />
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <h3>{{ post.title }}</h3>
                  {% if post.tax contains "display" %}
                    <i class="fa fa-television" aria-hidden="true"></i>
                  {% endif %}

                  {% if post.tax contains "controller" %}
                    <i class="fa fa-gamepad"    aria-hidden="true"></i>
                  {% endif %}
                </a>
                <p>
                  {{ post.excerpt }}
                </p>
            </li>
          {% endfor %}
        </ul>
    </div>

</div>
