<!-- The content of your page would go here. -->

<footer class="footer-basic-centered">

  <p class="footer-company-motto">Brinning the web to a more social environment.</p>

  <p class="footer-links">
    {% if site.github_username %}
      {% include icon-github.html username=site.github_username %}
    {% endif %}
    {% if site.twitter_username %}
      {% include icon-twitter.html username=site.twitter_username %}
    {% endif %}
  </p>

  <p class="footer-company-name">Chameleon Web Controller &copy; 2016</p>

</footer>