<div class="repo-list">
  <a target="_slef"   href="{{ site.baseurl }}/general/Installation." class="btn">Documentation</a>
  <a target="_blank"  href="https://github.com/Devine-Davies/chameleon-web-controller" class="btn">View on GitHub</a>
  <a target="_blank"  href="https://github.com/Devine-Davies/chameleon-web-controller/zipball/master" class="btn">Download .zip</a>
  <a target="_blank"  href="https://github.com/Devine-Davies/chameleon-web-controller/tarball/master" class="btn">Download .tar.gz</a>
</div>