
body#home {
    .page-header {
      color: #fff;
      text-align: center;
      background-color: #159957;
      background-image: linear-gradient(120deg, #155799, #159957);
      padding: 10rem 6rem;
    }

    .btn {
        display: inline-block;
        margin: 1rem 0.5rem;
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.08);
        border-color: rgba(255, 255, 255, 0.2);
        border-style: solid;
        border-width: 1px;
        transition: color 0.2s, background-color 0.2s, border-color 0.2s;
        padding: 0.75rem;
        font-size: 0.9rem;

        @media screen and (max-width: 42em) {
            display: block;
        }
    }

}

body#feature-doc {
    background: #f3f5f6;

    .wrapper {
        display: flex;
        flex-flow: row wrap;
    }

    &.nav-active {
        .docs-side-bar {
            transform: translate(0%, 0);
            transition: all 0.3s ease-in-out;
        }

    }

    .docs-side-bar {
        background: #282929;
        flex-basis: 20%;
        transform: translate(-100%, 0);
        position: fixed;
        left: 0;
        z-index: 1;
        height: 100vh;
        top: 40px;

        h1 {
            font-size: 0.8em;
            border-bottom: 1px solid rgb(70, 70, 70);
            color: white;
            padding: 0.5em 0;
            text-align: center;

            span {
                font-size: 0.8em;
            }

        }

        h2 {
            font-size: 0.8em;
            margin: 0;
            padding: 0;
            padding: 0 0.8em;
            color: #717177;
            text-transform: uppercase;
        }

        ul {
            list-style: none;
            margin: 0 0 1em 0;
            padding: 0 0 1em 0;
            border-bottom: 1px solid rgb(70, 70, 70);

            li {

                &:hover {
                    background: rgb(70, 70, 70);
                }

                a {
                    font-size: 0.8em;
                    color: white;
                    text-decoration: none;
                    padding: 0.2em 0.8em;
                    display: block;
                    font-family: 'Oxygen', sans-serif;
                    text-transform: capitalize;
                }
            }

        }

    }

    .post-content {
        flex-basis: 100%;
        overflow: hidden;

        .post-header {
            position: fixed;
            background: #f3f5f6;
            width: 100%;
            top: 0;

            .mobile-nav-button {
                height: 40px;
                width: 100%;
                background: #282929;
                color: white;

                .border-menu {
                    position: relative;
                    padding-left: 1.25em;

                    p {
                        padding-left: 1.8em;
                        line-height: 2.2em;
                    }

                    &:before {
                        font-size: 2em;
                        content: "";
                        position: absolute;
                        top: 0.25em;
                        left: 0.25em;
                        width: 1em;
                        height: 0.125em;
                        border-top: 0.375em double white;
                        border-bottom: 0.125em solid white;
                    }
                }
            }

            .info {
                padding: 10px;
                height: 55px;

                h1 {
                    font-size: 1.7em;
                    text-transform: capitalize;
                    margin: 0;
                }
            }

        }

        .post-body {
            background: white;
            margin: 1.3em;
            margin-top: 115px;
            padding: 1em 2em;
            border-top: 3px solid #07C7B5;
            border-radius: 2px;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.23);

            h2 {
                &:not(:first-child) {
                    margin-top: 1.5em;
                    padding-top: 1em;
                    border-top: 6px solid rgba(0, 0, 0, 0.03);
                    margin-bottom: 0;
                    padding-bottom: 15px;
                }

            }

            h4 {
                margin-bottom: 0;
                font-weight: 600;
            }

            code {
                font-weight: normal;
                background-color: #e6e6e6;
                border: 1px solid #cacaca;
                padding: 0.125rem 0.3125rem 0.0625rem;

            }

            blockquote {
                outline: 1px solid #CACACA;
                padding: 1em;
                margin-bottom: 15px;
                background: rgb(242, 249, 255);

                &.alert {
                    background: rgb(244, 255, 242);
                }

                &.warn {
                    outline: 1px solid #CACACA;
                }

                p {
                    margin-bottom: 0px;
                }

            }

            a {
                color: black;
                text-decoration: underline;
            }

        }

    }

    /* -- iPad Land --  */
    @include bp(x-large) {

        .docs-side-bar {
            transform: translate(0%, 0);
            position: fixed;
            overflow-y: scroll;
            width: 20%;
            height: 100%;
            top: 0;
        }

        .post-content {
            flex-basis: 80%;
            margin-left: 20%;

            .post-header {
                .mobile-nav-button {
                    display: none;
                }

                .info  {
                    margin: 0 1em;
                    padding: 10px 0;
                    height: 55px;
                }

            }

            .post-body {
                margin-top: 75px;
            }

        }

    }

}
