
.post {
    display: flex;
    flex-flow: row wrap;
}


/* We tell all items to be 100% width */
.docs-side-bar .post-content  {

}


body.feature-doc {
    background: #f3f5f6;

    .wrapper {
        display: flex;
        flex-flow: row wrap;

    }

    .docs-side-bar {
        background: #333333;
        flex-basis: 20%;

        h1 {
            font-size: 0.8em;
            border-bottom: 1px solid rgb(70, 70, 70);
            color: white;
            padding: 0.5em 0;
            text-align: center;

            span {
                font-size: 0.8em;
            }

        }

        h2 {
            font-size: 0.8em;
            margin: 0;
            padding: 0;
            padding: 0 0.8em;
            color: #717177;
            text-transform: uppercase;
        }

        ul {
            list-style: none;
            margin: 0 0 1em 0;
            padding: 0 0 1em 0;
            border-bottom: 1px solid rgb(70, 70, 70);

            li {

                &:hover {
                    background: rgb(70, 70, 70);
                }

                a {
                    font-size: 0.8em;
                    color: white;
                    text-decoration: none;
                    padding: 0.2em 0.8em;
                    display: block;
                    font-family: 'Oxygen', sans-serif;
                    text-transform: capitalize;
                }
            }

        }

    }

    .post-content {
        flex-basis: 80%;
        overflow: hidden;

        .post-header {
            position: fixed;
            padding: 10px 0;
            height: 55px;
            background: #f3f5f6;
            width: 100%;
            margin: 0 1.3em;

            h1 {
                font-size: 1.7em;
                text-transform: capitalize;
                margin: 0;
                padding: 0;
            }

        }

        .post-body {
            background: white;
            margin: 1.3em;
            margin-top: 75px;
            padding: 1em 2em;
            border-top: 3px solid #07C7B5;
            border-radius: 2px;

            h2 {
                &:not(:first-child) {
                    margin-top: 1.5em;
                    padding-top: 1em;
                    border-top: 6px solid rgba(0, 0, 0, 0.03);
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

            }

            h4 {
                margin-bottom: 0;
                font-weight: 600;
            }

            code {
                font-weight: normal;
                background-color: #e6e6e6;
                border: 1px solid #cacaca;
                padding: 0.125rem 0.3125rem 0.0625rem;

            }

            blockquote {
                outline: 1px solid #CACACA;
                padding: 1em;
                margin-bottom: 15px;
                background: rgb(242, 249, 255);

                &.alert {
                    background: rgb(244, 255, 242);
                }

                &.warn {
                    outline: 1px solid #CACACA;
                }

                p {
                    margin-bottom: 0px;
                }

            }

        }
    }

}