<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="feature-doc" >

      <div class="wrapper">
            <aside class="docs-side-bar">
              <h1>v1.1.0 <span>(Changelog)</span></h1>

              <h2>Server</h2>
              <ul>
                {% for post in site.categories['server'] %}
                  <li>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>

              <h2>Display</h2>
              <ul>
                {% for post in site.categories['display'] %}
                  <li>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>

              <h2>Controller</h2>
              <ul>
                {% for post in site.categories['controller'] %}
                  <li>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>

              <h2>General</h2>
              <ul>
                {% for post in site.categories['general'] %}
                  <li>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </aside>

            <artical class="post-content" itemprop="articleBody">
              <header class="post-header">

                <div id="mobile-nav-button" class="mobile-nav-button" >
                  <div class="border-menu">
                    <p>Documentation</p>
                  </div>
                </div>

                <div class="info">
                  <h1 class="post-title" itemprop="name headline">{{ page.categories }} - {{ page.title }}</h1>
                  <p class="post-meta">
                  <time datetime="{{ page.date_updated | date_to_xmlschema }}" itemprop="datePublished">
                    last updated: {{ page.date_updated | date: "%b %-d, %Y" }}
                  </time>
                </div>
              </header>

              <section class="post-body">
                {{ content }}
              </section>
            </artical>

            {% include footer.html %}
      </div>

  </body>

  <script type="text/javascript">
    window.onload = function() {
        document.getElementById("mobile-nav-button").onclick = function(){
          toggle();
        }
    }

    function toggle() {
        document.getElementById("feature-doc").classList.toggle("nav-active");
    }
  </script>

</html>
