---
show_excerpt : true
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="feature-doc" >
      <div class="wrapper">

            <aside>
              {% include docs-navigation-list.html %}
            </aside>

            <artical class="post-content" itemprop="articleBody">
              <header class="post-header">
                <div id="mobile-nav-button" class="mobile-nav-button" >
                  <div class="border-menu">
                    <p>Documentation</p>
                  </div>
                </div>

                <div class="info">
                  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
                  <p class="post-meta">
                  <time datetime="{{ page.date_updated | date_to_xmlschema }}" itemprop="datePublished">
                    last updated: {{ page.date_updated | date: "%b %-d, %Y" }}
                  </time>
                </div>
              </header>

              <section class="post-body">
                {{ content }}
              </section>
            </artical>

            {% include footer.html %}
      </div>
  </body>

  <script type="text/javascript">
    $( document ).ready( function(){
        $("#mobile-nav-button").on('click', function(){
          $("body#feature-doc").toggleClass("nav-active");
        });
    });
  </script>>

</html>
